/*//PRINCIPIO DE PAGINA//*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  text-align: center; /*centrar conetnido de la pagina*/
  flex-direction: column; /*estructurar en columna*/
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  background-color: #fffaf3;
}

/*//ENCABEZADO//*/

header {
  display: flex;
}

.Cont_header {
  background-color: rgb(244, 252, 252);
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  border-radius: 10px;
}

h4 {
  color: #00b2a9;
}
.Cont_header img {
  width: 50%;
  margin-top: 4px;
}

/*//CUERPO DE PAGINA//*/

main {
  background-color: rgb(253, 243, 230);
  flex: 1;
  background-image: url("/img/Desktop-PP-verano.png");
}

h1 {
  font-family: "texto-Arriba";
  font-size: 30px;
  padding: 8px;
}

@font-face {
  font-family: "texto-Arriba";
  src: url(/font/NewakeFont-Demo.otf);
}

.capsula-form {
  background-color: rgb(248, 248, 248);
  padding: 9px;
  width: 91%;
  margin: 0px auto;
  border-radius: 10px;
}

.capsula-form h3 {
  margin-bottom: 20px;
  color: rgb(255, 126, 56);
}

.capsula-form label[for="pregunta"],
[for="name"] {
  font-size: 19px;
  display: block;
  font-family: "texto_label";
  margin-top: 30px;
}
@font-face {
  font-family: "texto_label";
  src: url(/font/Banita.otf);
}

.capsula-form input {
  display: block;
  margin: 0px auto;
  width: 70%;
  height: 27px;
  margin-top: 5px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(253, 108, 30);
  padding: 2px;
  font-family: "texto_label";
  font-size: 14px;
}

.capsula-form #help {
  display: block;
  margin: 0px auto;
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input:focus {
  /*[type="text"] encargado de sellecionar el tipo de input*/
  border-color: #f35900;
  border-width: 2px;
  box-shadow: 0 0px 0px 4px rgba(255, 90, 31, 0.15);
  transition: 83ms;
  outline: none; /* quita el borde azul por defecto */
}

label[for="reseña"] {
  font-family: "texto-Arriba";
  font-size: 22px;
}

.capsula-form textarea {
  width: 320px;
  height: 140px;
  border-radius: 7px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(253, 108, 30);
  border-width: 1px;
  margin-bottom: 20px;
  resize: none;
}

textarea:focus {
  border-color: #f35900;
  border-width: 3px;
  box-shadow: 0 0px 0px 4px rgba(255, 90, 31, 0.15);
  transition: 83ms;
  outline: none; /* quita el borde azul por defecto */
}

.Clasificacion {
  direction: rtl;
}

.Clasificacion h3 {
  margin-bottom: 0px;
  font-family: "Chicken";
  font-size: 50px;
  margin-top: 15px;
}
@font-face {
  font-family: "Chicken";
  src: url(/font/Hello\ Valentina.ttf);
}

.Clasificacion input[type="radio"] {
  display: none;
}

.Clasificacion label {
  display: inline-block;
  font-size: 50px;
  margin-left: 19px;
  margin-bottom: 23px;
  margin-top: -2px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}

.Clasificacion label:hover,
.Clasificacion label:hover ~ label {
  color: rgb(255, 217, 0); /*Sirve para pintar las estrellas consecutivamente*/
}

.Clasificacion input[type="radio"]:checked ~ label {
  color: rgb(255, 208, 0);
}

.capsula-form button {
  display: block;
  width: 90px;
  margin: 0px auto;
  margin-bottom: 12px;
  color: #ff7b00;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 8.9px;
  border-style: solid;
  border-color: #ff9557;
  font-family: "texto-Arriba";
}

.capsula-form button span {
  margin-left: 6px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.capsula-form button:hover span {
  transform: translateX(4px);
}

.capsula-form button:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2%;
  width: 100%;
  height: 3px;
  background-color: #ff5100; /* o amarillo Popeyes */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.capsula-form button:hover::after {
  transform: scaleX(1);
}

footer {
  background-color: rgb(27, 27, 27);
  height: 9600px;
  width: 100%;
}

.Pie_Logo img {
  width: 19%;
  margin-top: 19px;
  margin-bottom: 20px;
}

.reseñas {
  background-color: rgb(129, 223, 219);
  padding: 10px;
  display: block;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

.reseñas h2 {
  margin-top: 0px;
}

.reseña {
  background-color: #ffffff;
  width: 95%;
  border-radius: 10px;
  border-color: rgb(255, 91, 31);
  border-style: dashed;
  border-width: 2px;
  margin: 0 auto;
  padding: 20px 0;
  margin-top: 10px;
  margin-bottom: 20px;
}
.reseña strong {
  display: flex;
  flex-direction: initial;
  font-size: 19px;
  margin-left: 18px;
  padding: -10px;
  margin-top: -10px;
  margin-bottom: -2px;
}

.reseñas h5 {
  color: #f35900;
}

.estrellas {
  font-size: 29px;
  color: rgb(255, 187, 0);
  display: flex;
  margin-left: 200px;

  margin-top: -39px;
  margin-bottom: 12px;
}

.reseña p {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
